<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"


    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="androidx.multidex.MultiDexApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectDatMonAn"
        tools:targetApi="31" >
        <activity
            android:name=".ThemMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".SuaMonAnActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectDatMonAn" />
        <activity
            android:name=".MainActivityAdmin"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChiTietMonAnActivity" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".RegistrationSuccessActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ProfileFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".HomeFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".HistoryFragment"
            android:exported="true">
        </activity>
        <activity
            android:name=".CartFragment"
            android:exported="true">
        </activity>
    </application>

</manifest>